<div class="modal fade" id="itemStock" tabindex="-1" role="dialog" aria-labelledby="itemStockLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="sizes">
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn-group pull-right" role="group">
                    <button id="updateStock" type="button" class="btn btn-primary">Update Stock</button>
                </div>
            </div>
        </div>
    </div>
</div>