<div class="modal fade" id="newTransaction" role="dialog" aria-labelledby="newTransactionLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="transaction-item-id" class="col-form-label">Stock ID (manual):</label>
                        <input type="number" class="form-control" id="transaction-item-id">
                    </div>
                    <div class="form-group">
                        <label for="receipt-member" class="col-form-label">Member:</label>
                        <select class="select2-select" id="receipt-member" name="receipt-member">
                            {% for member in active_members %}
                                <option value="{{ member.uid }}">{{ member.cn }} ({{ member.uid }})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="item-quantity" class="col-form-label">Quantity:</label>
                        <input type="number" class="form-control" id="item-quantity">
                    </div>
                    <div class="form-group">
                        <label for="payment-method" class="col-form-label">Quantity:</label>
                        <select class="select2-select" id="payment-method" name="payment-method">
                            <option value="Venmo">Venmo</option>
                            <option value="Cash">Cash</option>
                            <option value="Check">Check</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn-group pull-right" role="group">
                    <button id="addNewTransaction" type="button" class="btn btn-primary">Add Transaction</button>
                </div>
            </div>
        </div>
    </div>
</div>
