<div class="modal fade" id="newTransaction" tabindex="-1" role="dialog" aria-labelledby="newTransactionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input title="Product ID" hidden type="text" class="form-control" id="product-id">
                    <div class="form-group">
                        <label for="product-name" class="col-form-label">Product:</label>
                        <input type="text" class="form-control" id="product-name">
                    </div>
                    <div class="form-group">
                        <label for="description-text" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description-text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="category-name" class="col-form-label">Category:</label>
                        <input type="text" class="form-control" id="category-name">
                    </div>
                    <div class="form-group">
                        <label for="price-value" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="price-value">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn-group pull-right" role="group">
                    <button id="addNewTransaction" type="button" class="btn btn-primary">Add Transaction</button>
                </div>
            </div>
        </div>
    </div>
</div>