node_modules
config.py
Swag/static/vendor
.swagenv
Swag/static/css
.idea/
Swag/__pycache__/
Swag/__pycache__/*
Swag/static/android-chrome-192x192.png
Swag/static/android-chrome-512x512.png
Swag/static/apple-touch-icon.png
Swag/static/browserconfig.xml
Swag/static/favicon-16x16.png
Swag/static/favicon-32x32.png
Swag/static/favicon.ico
Swag/static/mstile-144x144.png
Swag/static/mstile-150x150.png
Swag/static/mstile-310x150.png
Swag/static/mstile-310x310.png
Swag/static/mstile-70x70.png
Swag/static/safari-pinned-tab.svg
Swag/static/site.webmanifest
Swag/routes/__pycache__/
Swag/routes/__pycache__/*
faviconData.json
yarn.lock
