{% extends 'modal.html' %}
{% block id %}postReview{% endblock %}
{% block idLabel %}postReviewLabel{% endblock %}
{% block form %}
    <form>
        <input title="Item ID" hidden type="text" class="form-control" id="item-id" value="{{ item_id }}">
        <div class="form-group">
            <label for="rating" class="col-form-label">Rating:</label>
            <input type="number" class="form-control" min="0" max="5" id="rating">
        </div>
        <div class="form-group">
            <label for="review-text" class="col-form-label">Review:</label>
            <textarea class="form-control" id="review-text" maxlength="500"></textarea>
        </div>
    </form>
{% endblock %}
{% block button %}
    <button id="submitReview" type="button" class="btn btn-primary">Post Review</button>
{% endblock %}
