{% extends 'modal.html' %}
{% block id %}swagEdit{% endblock %}
{% block idLabel %}swagEditLabel{% endblock %}
{% block form %}
    <form>
        <input title="Product ID" hidden type="text" class="form-control" id="product-id">
        <div class="form-group">
            <label for="product-name" class="col-form-label">Product:</label>
            <input type="text" class="form-control" id="product-name">
        </div>
        <div class="form-group">
            <label for="description-text" class="col-form-label">Description:</label>
            <textarea class="form-control" id="description-text"></textarea>
        </div>
        <div class="form-group">
            <label for="category-name" class="col-form-label">Category:</label>
            <input type="text" class="form-control" id="category-name">
        </div>
        <div class="form-group">
            <label for="price-value" class="col-form-label">Price:</label>
            <input type="number" class="form-control" id="price-value">
        </div>
    </form>
{% endblock %}
{% block button %}
    <button id="updateSwag" type="button" class="btn btn-primary">Update Item</button>
{% endblock %}
