{% extends 'extend/modal.html' %}
{% block id %}itemEdit{% endblock %}
{% block idLabel %}itemEditLabel{% endblock %}
{% block form %}
    <form>
        <input title="Item ID" hidden type="text" class="form-control" id="item-id">
        <div class="form-group">
            <label for="item-product-id" class="col-form-label">Product:</label>
            <input type="text" class="form-control" id="item-product-id">
        </div>
        <div class="form-group">
            <label for="color-text" class="col-form-label">Color:</label>
            <input type="text" class="form-control" id="color-text">
        </div>
        <div class="form-group">
            <label for="image-url" class="col-form-label">Image:</label>
            <input type="url" class="form-control" id="image-url">
        </div>
    </form>
{% endblock %}
{% block button %}
    <button id="updateItem" type="button" class="btn btn-primary">Update Item</button>
{% endblock %}
