{% extends 'extend/modal.html' %}
{% block id %}editReceipt{% endblock %}
{% block idLabel %}newEditReceipt{% endblock %}
{% block form %}
    <form>
        <input title="Receipt ID" hidden type="number" class="form-control" min="1" id="update-receipt-id">
        <div class="form-group">
            <label for="update-transaction-item-id" class="col-form-label">Item:</label>
            <select class="select2-select" id="update-transaction-item-id" name="transaction-item-id">
                {% for stock_item in all_stock %}
                    <option value="{{ stock_item.stock_id }}">{{ stock_item.item.product.name }}
                        ({{ stock_item.item.color }}/{{ stock_item.size.name }})
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="update-receipt-member" class="col-form-label">Member:</label>
            <select class="select2-select" id="update-receipt-member" name="update-receipt-member">
                {% for member in active_members %}
                    <option value="{{ member.uid }}">{{ member.cn }} ({{ member.uid }})</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="update-item-quantity" class="col-form-label">Quantity:</label>
            <input type="number" class="form-control" min="1" value="1" id="update-item-quantity">
        </div>
        <div class="form-group">
            <label for="update-payment-method" class="col-form-label">Quantity:</label>
            <select class="select2-select" id="update-payment-method" name="update-payment-method">
                <option value="Venmo">Venmo</option>
                <option value="Cash">Cash</option>
                <option value="Check">Check</option>
                <option value="Paypal">Paypal</option>
                <option value="Card">Card</option>
            </select>
        </div>
    </form>
{% endblock %}
{% block button %}
    <button id="updateReceipt" type="button" class="btn btn-primary">Add Transaction</button>
{% endblock %}
