{% extends 'extend/layout.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card text-xs-center mt-3 mb-3">
                    <div class="card-header">
                        <h4>
                            <span>Cash Flow</span>
                            {% if auth_dict["is_financial"] %}
                                <button id="createCashFlow" class="btn btn-sm btn-flat btn-success float-right">
                                    New Cash Flow
                                </button>
                            {% endif %}
                        </h4>
                    </div>
                    <table id="cashflow_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card mt-3 mb-3">
                    <div class="card-header">
                        <h4>Balances</h4>
                    </div>
                    <div class="card-body">
                        {% if auth_dict["is_financial"] %}
                            <h2>Venmo</h2>
                            <h3>${{ balances.Venmo }}</h3>
                            <br>
                        {% endif %}
                        <h2>Cash</h2>
                        <h3>${{ balances.Cash }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block includes %}
    {% include "admin/include/modals/updateCashFlow.html" %}
    {% include "admin/include/modals/newCashflow.html" %}
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
            src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="//cdn.datatables.net/rowgroup/1.0.2/js/dataTables.rowGroup.min.js"></script>

    <script type="text/javascript"
            src="{{ url_for('static', filename='vendor/chart.js/Chart.bundle.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('.select2-select').select2({
                width: '98%',
                theme: "bootstrap"
            });
        });
    </script>

    <script src="{{ url_for('static', filename='js/table_functions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin/cashflow.js') }}"></script>
{% endblock %}
