<!DOCTYPE html>
<html lang="en">

{% include "include/head.html" %}

<body>

{% include "include/nav.html" %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">

            <div class="card card-outline-secondary my-3">
                <div class="card-body">
                    <div class="plug-body">
                        <a href="https://plug.csh.rit.edu" title="Advertisements by CSH: Plug">
                            <img style="width: 100%" src="https://plug.csh.rit.edu/data"
                                 alt="Advertisements by CSH: Plug">
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">

                {% for item in items %}
                    {% if item.stock > 0 %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a title="{{ item.product.name }}" href="/item/{{ item.item_id }}">
                                    <img class="card-img-top index" src="
                                            {% if item.image != None %}{{ item.image }}{% else %}https://placehold.it/700x400{% endif %}"
                                         alt="{{ item.product.name }}">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a title="{{ item.product.name }}" href="/item/{{ item.item_id }}">{{ item.product.name }}</a>
                                        <span class="badge badge-{{ item.color|lower }}">{{ item.color }}</span>
                                    </h4>
                                    <h5>${{ item.product.price }}</h5>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">{{ item.product.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

{% include "include/footer.html" %}

{% include "include/scripts.html" %}

</body>

</html>
