<!DOCTYPE html>
<html lang="en">

{% include "include/head.html" %}

<body>

{% include "include/nav.html" %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <h3 class="my-4">Current Stock</h3>
            <div class="list-group">
                {% for size in sizes %}
                    {% if size.size != None %}
                        <b class="list-group-item">{{ size.size.name }}: &nbsp;
                            <span class="badge badge-primary">{{ size.stock }}</span>
                        </b>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="card mt-4">
                <img class="card-img-top img-fluid swag" src="{% if item.image != None %}{{ item.image }}{% else %}http://placehold.it/900x400{% endif %}" alt="">
                <div class="card-body">
                    <h3 class="card-title">{{ item.product.name }}&nbsp;
                        <span class="badge badge-{{ item.color|lower }}">{{ item.color }}</span>
                    </h3>
                    <h4>${{ item.product.price }}</h4>
                    <p class="card-text">{{ item.product.description }}</p>
                </div>
                <div class="card-footer">
                </div>
            </div>
            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Product Reviews
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore,
                        similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum.
                        Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore,
                        similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum.
                        Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore,
                        similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum.
                        Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <a href="#" class="btn btn-success">Leave a Review</a>
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>
<!-- /.container -->

{% include "include/footer.html" %}

{% include "include/scripts.html" %}

</body>

</html>