<!DOCTYPE html>
<html lang="en">

{% include "include/head.html" %}

<body>

{% include "include/nav.html" %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-6">
            <div class="card mt-3 mb-3">
                <div class="card-header">
                    <h4>Swag Management</h4>
                </div>
                <table id="swag_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                </table>
            </div>

            <div class="card mt-3 mb-3">
                <div class="card-header">
                    <h4>Item Management</h4>
                </div>
                <table id="items_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                </table>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card mt-3 mb-3">
                <div class="card-header">
                    <h4>Receipts</h4>
                </div>
                <table id="receipts_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                </table>
            </div>
        </div>
    </div>

</div>

{% include "include/footer.html" %}

{% include "manage/modals/swagEdit.html" %}
{% include "manage/modals/itemEdit.html" %}
{% include "manage/modals/itemStock.html" %}

{% include "include/scripts.html" %}

<script src="{{ url_for('static', filename='js/swag_tables.js') }}"></script>
<script src="{{ url_for('static', filename='js/submit.js') }}"></script>


</body>

</html>
