<!DOCTYPE html>

{% if auth_dict["uid"] == 'matted' %}

<html lang="en">

{% include "include/head.html" %}

<body>

{% include "include/nav.html" %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-6">
            <div class="card mt-3 mb-3">
                <div class="card-header">
                    <h4>Swag Management</h4>
                </div>
                <table id="swag_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                </table>
            </div>

            <div class="card mt-3 mb-3">
                <div class="card-header">
                    <h4>Item Management</h4>
                </div>
                <table id="items_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                </table>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card mt-3 mb-3">
                <div class="card-header">
                    <h4>Venmo Balance</h4>
                </div>
                <div class="card-body">
                    <h3>${{ venmo }}</h3>
                </div>
            </div>
            <div class="card text-xs-center mt-3 mb-3">
                <div class="card-header">
                    <h4>
                        <span>Receipts</span>
                    <button id="createTransaction" class="btn btn-sm btn-flat btn-success float-right">
                        New Transaction
                    </button>
                    </h4>
                </div>
                <table id="receipts_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                </table>
            </div>
        </div>
    </div>

</div>

{% include "include/footer.html" %}

{% include "manage/modals/swagEdit.html" %}
{% include "manage/modals/itemEdit.html" %}
{% include "manage/modals/itemStock.html" %}
{% include "manage/modals/newTransaction.html" %}

{% include "include/scripts.html" %}

<script src="{{ url_for('static', filename='js/swag_tables.js') }}"></script>

</body>

</html>

{% endif %}
