<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
    <div class="container">
        <a class="navbar-brand abs" href="/">Swag</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"#}
{#                       aria-haspopup="true" aria-expanded="false">Categories</a>#}
{#                    <div class="dropdown-menu">#}
{#                        <a class="dropdown-item" href="/category/Shirts">Shirts</a>#}
{#                    </div>#}
{#                </li>#}
                <li class="nav-item">
                    <a class="nav-link" href="/financial">Manage</a>
                </li>
            </ul>
        </div>
    </div>
</nav>